@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Noto Serif Bold";
    font-weight: 800;
    /* font-display: fallback; */
    src: url("@site/static/NotoSerifTC-Bold.otf") format("OpenType");
    /* unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
          U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; */
  }
  @font-face {
    font-family: "Merriweather";
    src: url("@site/assets/Merriweather/Merriweather-Regular.ttf")
      format("TrueType");
  }
  h1 {
    font-family: "Merriweather", 'Noto Serif TC', system-ui;
    font-weight: bold;
    font-size: 2.5rem;
    /* margin: 24px 0 8px; */
    margin: 1.5rem 2rem 1rem;
    /* margin: 0 0 25px;     */
  }
  p,
  pre,
  li {
    font-family: 'Merriweather Sans', 'Noto Serif TC';
    margin: 1.5rem 2rem 1rem;
  }
  a {
    font-family: 'Merriweather Sans', 'Noto Serif TC';
  }
  h2 {
    /* font-family: 'Alimama ShuHeiTi Bold'; */
    font-family: ui-sans-serif, system-ui;
    /* font-weight: bold; */
    /* font-size: 2.1rem; */
    color: black;
    font-weight: 900;
    font-size: 1.2rem;
  }

  h3 {
    /* font-family: 'Alimama ShuHeiTi Bold'; */
    font-family: "Merriweather Sans", system-ui;
    font-size: 1.7rem;
  }

  h4 {
    /* font-family: 'Alimama ShuHeiTi Bold'; */
    font-family: 'Merriweather Sans', 'Noto Serif TC';
    font-size: 1.2rem;
    margin: 1.5rem 2rem 1rem;
  }
  p {
    margin-top: 0;
    /* margin-bottom: 21px; */
  }
  a {
    /* font-family: 'Alimama ShuHeiTi Bold'; */
    /* font-family: "Merriweathers"; */
    /* font-family: 'Merriweather Sans', ui-sans-serif, system-ui; */
    /* font-size: 1rem; */
  }
}
